
// @font-face {
// 	font-family: 'Georgia';
// 	src: url('../../fonts/Georgia.tff');
// 	// src: local('Georgia'),
// 	// 	url('Georgia.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
//   	font-family: 'Georgia';
//   	src: url('Georgia.ttf');
//     src: url('fonts/Georgia.ttf');
  // 	src: local('Georgia'),
  // 		url('Georgia.ttf') format('truetype');
  // 	font-weight: normal;
  // 	font-style: normal;
  // }

// @font-face {
// 	font-family: 'Georgia';
// 	src: url('Georgia-Italic.eot');
// 	src: local('Georgia Italic'), local('Georgia-Italic'),
// 		url('Georgia-Italic.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Georgia';
// 	src: url('Georgia-Bold.eot');
// 	src: local('Georgia Bold'), local('Georgia-Bold'),
// 		url('Georgia-Bold.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: normal;
// }


// @font-face {
// 	font-family: 'Arial';
// 	src: url('ArialMT.eot');
// 	src: local('Arial'), local('ArialMT'),
// 		url('ArialMT.eot?#iefix') format('embedded-opentype'),
// 		url('ArialMT.woff') format('woff'),
// 		url('ArialMT.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Arial';
// 	src: url('Arial-ItalicMT.eot');
// 	src: local('Arial Italic'), local('Arial-ItalicMT'),
// 		url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
// 		url('Arial-ItalicMT.woff') format('woff'),
// 		url('Arial-ItalicMT.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: italic;
// }
// html{
//   font-family: generalFont, sans-serif;
// }
h1,h2,h3,h4,h5,button{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 3.2rem;
font-weight: 400;
line-height: 3.52rem;
font-style: normal;
color: $color-dark-l;
}
h2{
  font-size: 4.4rem;
  line-height: 130%;
  @include media-mobile{
    font-size: 2.5rem;
    line-height: 3.2rem; 
    letter-spacing: 0.06em;
  }
}
h3{
  font-size: 3.5rem;
  line-height: 4.5rem; 
  letter-spacing: 0.06em;
  @include media-mobile{
    font-size: 2.5rem;
    line-height: 3.2rem; 
  }
}
h4{
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em; 
}
h5{
  font-size: 1.5rem;
  line-height: 1.65rem;
  letter-spacing: 0.06em; 
}
p,a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: $color-dark-xl;
}
.p-light{
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $color-dark-m;
}

