.about{

}
.about__wrapper{
  display: flex;
  justify-content: center;
  @include media-midle{
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
  @include media-mobile{
    gap: 39px;
  }
}
.about__img{
  align-self: flex-start;
  margin-right: 120px;
  max-width: 298px;
  img{
    width: 100%;
  }
  @include media-midle{
    margin-right: 0px;
    align-self: center;
  }
  @include media-mobile{
    max-width: 260px;
  }
}
.about__content{
  max-width: 430px;
  padding: 14px 0;
  p:last-child{margin-top: 25px;}

  h3{
    max-width: 370px;
    margin-bottom: 25px;
  }
  @include media-midle{
    padding: 0;
  }  
  @include media-mobile{
    padding: 0 14px;
    p{
    text-align: justify;
    }
    p:last-child{margin-top: 22px;}
    h3{
      text-align: center;
    }
  }
}